<span class="panel @LoadingCSS" style="@style">
    <img src="@src" @onload="HandleOnLoad" />
    <span class="overlay">
        <i class="oi oi-reload" title="Loading" alt="Loading panel image"></i>
    </span>
</span>