@inherits AuthenticatedComponentBase
@using InkyCal.Models.Helpers

<div class="alert alert-warning" role="alert">
    This is an experimental panel which heavily relies on the unofficial API of <a href="https://www.freedomforum.org/todaysfrontpages">Freedom Forum &gt; Today's front pages'</a>
</div>

<span>
Panel.NewsPaperId : <p>@Panel.NewsPaperId / @(Panel.NewsPaperId)</p
</span>

<EditForm Model="@Panel">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>
            <span>Newspaper:</span>
        </label>
        <div class="input-group">
            <NewspaperPanelSelector @bind-NewsPaperId=Panel.NewsPaperId/>
        </div>
        <ValidationMessage For="@(() => Panel.NewsPaperId)" />
    </div>
</EditForm>