@page "/swagger_frame"

<style type="text/css">

	.main > div,
	.content {
		padding: 0px !important;
	}
</style>

<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="/swagger"></iframe>
</div>
