<AuthorizeView>
	<Authorized>
		<a href="Identity/Account/Manage">@context.User.Identity.Name</a>
		<form method="post" action="Identity/Account/LogOut">
			<button type="submit" class="btn btn-link">
				<span class="oi oi-account-logout" aria-hidden="true" title="Logout"></span>
			</button>
		</form>
	</Authorized>
	<NotAuthorized>
		<a href="Identity/Account/Register">Register</a> or <a href="Identity/Account/Login">Log in</a>
	</NotAuthorized>
</AuthorizeView>
